streamlit
streamlit-ace
streamlit-searchbox
streamlit-folium==0.15.0
folium==0.14.0
ortools
scikit-learn
recurring-ical-events
calendar-view
matplotlib
openrouteservice
osmnx == 1.7
mapclassify
numpy
pandas
scipy
geopandas
shapely
geocoder
streamlit-js-eval
